/* Дооброе утро!!!*/
:root{
    --height-header: 85px;

    --height-contacts: 50px;
    --width-area: 1024px;
    --chto-to: 0px;
    --width-logotip: 85px;
    --width-company: 250px;
    --width-menu-item: 180px;
    --color-background-menu: rgba(210, 180, 140, 1);
    --color-text-menu: rgba(0, 128, 0, 1);
    --color-background-contents: rgba(255, 248, 221, 1);
    --color-text-contents: rgba(100, 149, 236);
}


* { margin: 0; padding: 0; }
/*Header*/
header { width: var(--width-area); height: var(--height-header); margin: 0 auto; /*background-color: rgba(150, 75, 0, 1);*/ box-sizing: border-box; border-bottom: 3px solid var(--color-text-contents); }
div.logotip { width: 85px; height: 100%; color: var(--color-text-menu); font-size: 30px; text-align: center; line-height: var(--height-header); float: left; background-color: var(--color-background-menu); }
div.company { width: var(--width-company); height: 100%; font-size: 19px; color: var(--color-text-menu); text-align: center; line-height: var(--height-header); float: left; background-color: var(--color-background-menu); }
div.menu { width: calc(var(--width-area) - (var(--width-company) + var(--width-logotip))); height: 100%; color: var(--color-text-menu); float: left; background-color: var(--color-background-menu); }
.noselect { width: var(--width-menu-item); height: 100%; font-size: 19px; color: var(--color-text-menu); border-left: 1px solid var(--color-text-menu); float: right; text-align: center; line-height: var(--height-header); display: inline-block; text-decoration: none; background-color: var(--color-background-menu); }
.selected { width: var(--width-menu-item); height: 100%; font-size: 19px; color: var(--color-background-menu); border-left: 1px solid var(--color-text-menu); float: right; text-align: center; line-height: var(--height-header); display: inline-block; text-decoration: none; background-color: var(--color-background-contents); }
div.menu a:hover    { background-color: var(--color-text-menu); color: var(--color-background-menu); }


/*Contents*/
div.contents { width: 1023px; height: calc( 100vh - (var(--height-header) + var(--height-contacts)) ); margin: 0 auto; background-color: var(--color-background-contents); color: var(--color-text-contents); }


/*Auth*/
div.containerAuth                   { width: 275px; height: 125px; box-shadow: 0 0 10px rgb(150, 150, 150); box-sizing: border-box; padding: 13px; margin: calc(50vh - 164px) auto; border-radius: 13px; border: 1px solid rgb(150, 150, 150); background-color: rgb(240, 240, 240); }
div.containerAuth label             { width: 90px; display: inline-block; }
div.containerAuth input             { width: 140px; margin-bottom: 7px; }
div.containerAuth [type="submit"]   { width: 90px; margin-left: 154px; color: var(--color-text-contents); }

/*Registr*/
div.containerRegistr                    { width: 900px; height: 90%; /*box-shadow: 0 0 10px;*/ border-radius: 13px; border: 1 solid rgb(150, 150, 150); padding: 13px; margin: 0 auto; background-color: var(--color-background-contents); }
div.containerRegistr label              { width: 150px; margin-left: 27px; display: inline-block; }

div.containerRegistr [type="submit"]    { width: 90px; color: var(--color-text-contents); }
div.containerRegistr input              { width: 230px; }

/*Contacts*/
div.contacts { width: var(--width-area); height: var(--height-contacts); margin: 0 auto; line-height: var(--height-contacts); box-sizing: border-box; /*border-top: 2px solid var(--color-text-contents);*/ color: var(--color-text-menu); background-color: var(--color-background-menu); }
div.contactsItems { width: calc(var(--width-area) / 3); height: 100%; text-align: center; float: left; color: var(--color-text-menu); background-color: var(--color-background-menu);}